<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microcharts.Forms" version="0.7.1" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="SkiaSharp" version="1.68.1.1" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views" version="1.68.1.1" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views.Forms" version="1.68.1.1" targetFramework="xamarinios10" />
  <package id="SqliteExtension" version="1.0.0" targetFramework="xamarinios10" />
  <package id="SQLiteNetExtensions" version="2.1.0" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.6.292" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="2.0.2" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="2.0.2" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.2" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.1.13" targetFramework="xamarinios10" />
  <package id="Syncfusion.Licensing" version="17.4.0.46" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.Core" version="17.4.0.46" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfChart" version="17.4.0.46" targetFramework="xamarinios10" />
  <package id="System.Buffers" version="4.4.0" targetFramework="xamarinios10" />
  <package id="System.Memory" version="4.5.3" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="xamarinios10" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.4.0.991537" targetFramework="xamarinios10" />
</packages>